@import 'index.css';

main{
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.div-login{
    width: 80%;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.input-div{
    display: flex;
    flex-direction: column;
    width: 60%;
}

input{
    width: 100%;
    padding-block: 15px;
    padding-inline: 5px;
}

.new-password, .new-account{
    margin: 5px 0 0 0;
    cursor: pointer;
    font-size: 1rem;
}

.login-account{
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-request{
    width: 30%;
    padding-block: 5px;
    font-size: 1.1rem;
    cursor: pointer;
}

